@import "../css/variables.css";


@font-face {

    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf");

}

@font-face {

    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Bold.ttf");

}

.main-background {

    background: url("../image/background-image/background.png") no-repeat;
    height: 100vh;
    background-size: cover;
    font-family: "Ubuntu";
    font-weight: 400;
    padding-bottom: 74px;

}

.header {

    padding: 18px  79px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-around;

} 

.header-wrapper-logo {

    flex-grow: 1;
}

.header-logo {

    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    transition: 0.4s ease-in-out;
}

.header-logo:hover {

    color: #01813F ;
} 

.header-wrapper-icons {

    display: flex;
    justify-content: space-around;
    border-right: 1px solid rgba(255, 255, 255, 0.9);

}

.link-icon {

    display: inline-block;
    margin-right: 27px;

}

.link-icon__image{

    transition: 0.4s ease-in-out;

}

.link-icon__image:hover {

    fill: #01813F;
}

.login {

    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}  

.header-login {

    margin-left: 27px;
}

.header-login__text-color {

    transition: 0.4s ease-in-out;

}

.header-login__text-color:hover {

    color: #01813F;
}

.form-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 54px 0px;
}

.form-login {

    background: white;
    width: 27.75rem;
    /* height: 36.5rem; */
    padding: 31px 60px 0px;
    position: relative;

}


.form-login::before {

    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;

}

.form-button {

    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #434343;
}

.form-wrapper__sign-in {

    display: flex;
    justify-content: space-between;
}

.form-wrapper__button-social {

    display: flex;
    justify-content: space-between;
}

.form-button-sign-up {

    font-size: 20px;
    line-height: 20px;
    color: #434343;

}

.form-button-login {

    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.form-wrapper__button-social {

    margin-top: 15px; 
}

.form__social {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    /* margin-top: 15px; */
    padding: 17px 22px 17px 67px;

}

.form-button__facebook {

    transition: 0.4s ease-in-out;
    background:#305DB8 url("../image/icons/Facebook.png") no-repeat 16px 12px;
}

.facebook {

    border-left: 1px solid rgba(43, 13, 9, 0.1);
    padding-left: 18px ;
}

.google {

    border-left: 1px solid rgba(43, 13, 9, 0.1);
    padding-left: 30px ;
}

.form-button__facebook:hover {

    background: #022263 url("../image/icons/Facebook.png") no-repeat 16px 12px;

}

.form-button__google {

    transition: 0.4s ease-in-out;
    line-height: 19px;
    background: #DF4A32 url("../image/icons/Goggle.png") no-repeat 12px 15px;

}

.form-button__google:hover {

    background: #AB1F09 url("../image/icons/Goggle.png") no-repeat 12px 15px;

}

.form-login__decoration-line {

    width: 15px;
    height: 15px;
    margin: 39px auto 0px;
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.form-login__decoration-line::before {

    content: "";
    display: block;
    position: absolute;
    width: 150px;
    height: 0px;
    left: -155px;
    top: 6px;
    border: 1px solid #F2F2F2;
}

.form-login__decoration-line::after {

    content: "";
    display: block;
    position: absolute;
    width: 150px;
    height: 0px;
    left: 18px;
    top: 6px;
    border: 1px solid #F2F2F2;

}

.form-wrapper__input {

    margin-top: 12px;    
}

.form-input {

    width: 100%;
    padding: 15px 20px;
    margin-bottom:  16px;
    border: 1px solid #F2F2F2;
    transition: 0.4s ease-in-out;

}

.form-input::placeholder {

    /* font-family: 'Ubuntu';
    font-weight: 400; */
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    transition: 0.4s ease-in-out;


}

.form-input:focus {

    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    /* color: #434343; */
    /* border: none; */
    outline: none;

}

.form-input:focus::placeholder  {

    color: #434343;

}

.label__checkbox {

    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.label__checkbox__text-color {

    color: #3CB878;
}

.label__checkbox__text-color:hover {

    color: #01813F;
    border-bottom: 1px solid #01813F;
    /* text-decoration: underline; */
}

/* надо это переделать  */
.form__button {

    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* text-transform: uppercase; */
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    margin: 20px 0px 38px;

}

.form__button:hover {

    background: #01813F;
}